body {
  background-color: antiquewhite;
  margin: 0;
}

#title {
  text-align: center;
  border-bottom: 1px solid;
  border-color: darkgoldenrod;
  background: antiquewhite;
  margin: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
  filter: saturate(1.5);
}

#covidCharts {
  /* display: flex; */
  margin: auto;
  padding-top: 4em;
  /* margin: 0 15px; */
}

#indiaMap {
  left: 0;
  /* display: flex; */
  flex-flow: column;
  gap: 15px;
  margin-left: 20px;
}

#indiaMap svg {
  height: unset;
  width: 100%;
}

@media (min-width: 1000px) {
  #covidCharts {
    display: flex;
    justify-content: center;
  }
}

#d3line,
#activeCases,
#newCases {
  width: 100%;
  /* float: right; */
  /* margin-right: 50px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.svg-container {
  width: 100%;
  height: unset;
}

.tooltip {
  position: fixed;
  text-align: center;
  /* width: 60px; */
  /* height: 28px; */
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  white-space: nowrap;
  transform: translate(-50%, 0);
}

rect.rect:hover {
  fill: cadetblue;
  opacity: 0.7;
  stroke: darkcyan;
}

.tooltips .line {
  stroke: steelblue;
  stroke-dasharray: 2, 5;
  stroke-width: 2;
  opacity: 0.5;
}

.tooltips rect {
  fill: lightblue;
  /* opacity: 0.3; */
  border-radius: 2px;
}

.tooltip,
g.tooltips > * {
  transition: 200ms ease-out;
}

path.area {
  opacity: 0.1;
}
.line-legend {
  display: flex;
}

.line-legend {
  margin: 0 !important;
  justify-content: end;
  flex-wrap: wrap;
}

#d3line .series-marker {
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

path.state {
  stroke-width: 1px;
  transition: 200ms;
  fill-opacity: 80%;
}

path.state:hover {
  fill-opacity: 90%;
  /* fill: red; */
  /* stroke: black; */
  stroke-width: 2px;
}

footer {
  margin: 10px;
}
